{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
    <div class="card-header" id="add-campground-header">
        {% if object %}
        <h2>Edit Campground Details</h2>
        {% else %}
        <h2>Add Campground Details</h2>
        {% endif %}
    </div>
    <div class="card-body" id="add-campground-body">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="add-submit-btn">
                <button type="submit" class="btn-danger btn-md" id="add-submit-btn">
                    Add to Pocketbook
                </button>
        </form>
    </div>
</div>
</div>

{% endblock %}