{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="card text-center" id="add-campground-header">
    {% if object %}
    <div class="card-header">
        <h2>Edit Campground Details</h2>
        {% else %}
        <h2>Add Campground Details</h2>
        {% endif %}
    </div>
    <div class="card-body" id="add-campground-body">
        <form action='' method='post'>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class ="btn-warning btn-md" id="add-submit-btn">Submit</button>
        </form>
    </div>
  </div>


{% endblock %}