{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="edit-container">
<div class="card mb-3 border-primary" style="max-width: 700px">
    <div class="row g-0">
      <div class="col-md-4" >
        <div class="edit-header">
      <h4 class="card-title">Edit trip details for {{ trip.startdate }}</h4>
        </div>
      <div class="card-body" id="edit-body">
          <form action='' method='post'>
              {% csrf_token %}
              <table>
                  {{ form.as_table }}
              </table>
              <button type="submit" class="btn-warning" id="edit-btn">Update</button>
          </form>
      </div>
    </div>
    <div class="col-md-7" id="edit-image">
      <img src="{% static 'css/images/tent.png' %}" alt="campfire" id="filler-img">
    </div>
    </div>
  </div>
{% endblock %}

