{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="add-trip-container">
<div class="add-trip-details">
<h3>Add Trip Details:</h3>
</div>
  <div class=trip-from>
    <form action="{% url 'add_trip' campground.id %}"method='post'>
        {% csrf_token %}
        {{ trip_form.as_table }}
        <button type="submit" class="btn-danger" id="add-trip-button">Add Trip</button>
      </form>
    
</div>
</div>
<div class="row g-0 position-relative" id="details-container">
    <div class="col-md-6 mb-md-0 p-md-4" id="campground-details">
        <h4 class="mt-0"><strong>{{ campground.name }}</strong></h4>
        <p>{{ campground.city}}, {{ campground.state}} {{ campground.zipcode }}</p>
        <p><strong>P:&ensp;</strong>{{ campground.phone }}</p>
        <p><strong>Directions:</strong> {{ campground.directions }}</p>
        <img src="{% static 'images/tent.png' %}" alt="tent" class="tent">
        <div class="detail-links">
        <a href="{% url 'campground_update' campground.id %}">Edit</a>&emsp;<a href="{% url 'campground_delete' campground.id %}" class="delete">Delete</a>
    </div>
        
        
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Reservations&ensp;</th>
              </tr>
            </thead>
            {% for trip in campground.trip_set.all %}
            <tbody>
                <tr>
                <td>{{ trip.startdate }}</td>
                <td>{{ trip.enddate }}</td>
                <td><a href={{ trip.reservation_link }}>My Reservation</a>&emsp;&emsp;<a href="{% url 'trip_update' trip.id %}">✏️</a>
              </tr>
            </tbody>
            {% endfor %}
          </table>

    </div>
  </div>


  
{% endblock %}