{% extends 'base.html'%}
{% block content %}
<h1>Details go here!</h1>
<div class="card border-success mb-3" style="max-width: 40rem; height: 20rem;">
    <div class="card-header bg-transparent border-success">trip date will go here</div>
    <div class="card-body text-success">
      <h5 class="card-title">{{ campground.name }}</h5>
      <p class="card-text">{{ campground.city}}, {{ campground.state}} {{ campground.zipcode }}</p>
      <p>reservation link will go here</p>
    </div>
    <div class="card-footer bg-transparent border-success">directions link will go here</div>
  </div>
{% endblock %}