{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="landing-header">
<h2 class="search-header">Plan your next adventure</h2>
{% if user.is_authenticated %}
<p>Search, Reserve, Track..</p> 
  {% else %}
<p>Search campgrounds, make reservations, and log your new adventure </p>
{% endif%}
<form action='' method="GET">
  <input type="text" name ="stateCode" placeholder="Enter state code" class ="text-center" id="search-input">
  <button type="submit" class ="btn-danger btn-md">Search Campgrounds</button>
</form>
</div>
<div class="campsite-container">
{% for i in all_campsites %}

<div class="card">
  {% if i.images.0.url %}
  <img src={{i.images.0.url}} class="card-img-top" alt="...">
  {% else %}
  <img src="{% static 'images/search.jpg' %}" class="card-img-top" alt="...">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    {% if i.addresses %}
      <p class="card-title">{{ i.addresses.0.city }}</p>
      <hp class="card-title">{{ i.addresses.0.line1 }}, {{ i.addresses.0.stateCode }}, {{ i.addresses.0.postalCode }}</p>
        {% else %}
          <p>The great outdoors!</p>
      {% endif %}
      <p>Total Sites:{{i.campsites.totalSites}}</p>
  </div>
    <a href={{i.reservationUrl}} class="card-link">Reserve</a>
  </form>
</div>
{% endfor %}
</div>
{% endblock %}
