{% extends 'base.html'%}
{% load static %}
{% block content %}
  <div class = "container">
    <div class = "text-center container">
      <br>
      <h2 class = "text-center">Search Campsites</h2> 
      <br>
      <form action ='' method="GET">
        <input type = "text" name = "stateCode" placeholder="Search..." class = "text-center">
        <button type = "submit" class = "btn-danger btn-sm">SEARCH CAMPSITES</button>
      </form> 
    </div> 
    <br><br>
    <div class="row">
      {% for i in all_campsites %}
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <p class="card-title">{{ i.name }}</p>
              {% endfor %}
            </div>
          </div>
          <br><br><br>
        </div>
      
    </div>
  </div>
{% endblock %}
