.container {
    margin-top: 20px;
}

/* landing/Search page */
.landing-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 54, 7);
    height: 300px;
    color: white;
    margin-bottom: 50px;
}

.search-header {
    font-size: 40px;
}

#search-input {
    width: 17rem;
    height: 2rem;
}


.campsite-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 3rem;
    margin: auto;
    padding-left: 2rem;
    word-wrap: break-word;
}

#search {
   display: flex;
   justify-content: center;
   align-items: center;
   max-height: 450px;
   width: 300px;
   word-wrap: break-word;
}

#search-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;  
}

/* footer */
.right {
    background-color: rgb(0, 54, 7);
    color: white;
    margin-top: 20px;
    padding-left: 10px;
}

/* Index(Pocketbook) page */

p.no-adventures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pocketbook-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(200px, 2fr));
    gap: 3rem;
    word-wrap: break-word;
}

.pocketbook-title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.name {
    background-color: rgb(0, 54, 7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filler-img {
    width: 12rem; 
    height: 10rem;
}

/* Detail page page */
.add-trip-details {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 1rem;
}

.add-trip-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 54, 7);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 8rem;
    
}

input#id_reservation_link {
   margin-left: 1rem;
}

input#id_startdate {
    margin-left: 1rem;
 }

 input#id_enddate {
    margin-left: 1rem;
 }

 label {
    margin-left: 2rem;
 }

 #add-trip-button {
     margin-left: 1rem;
 }

 #campground-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #details-container {
     margin-bottom: 50px;
 }

 .tent {
     height: 10rem;
     width: 20rem;
 }

 .table {
    border: 1px solid#428bca;
 }

 .delete {
     color: #d9534f;
 }

.edit-del {
    display: flex;
}


/* Add Campground Page */
#add-campground-header {
     margin-top: 50px;
     background-color: rgb(0, 54, 7);
     color: white;
     
 }

 #add-campground-body {
     padding-left: 17rem;
     background-color: black;
     color:white;
     height: 25rem;
     padding-top: 30px;
 }

 input#id_name {
     width: 20rem;
     margin-bottom: 1rem;
     margin-left: 1rem;
 }
 input#id_city {
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
input#id_state {
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
input#id_address{
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
input#id_zipcode {
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
input#id_directions {
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
input#id_phone {
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#add-submit-btn {
    margin-top: 18px;
    margin-left: 2rem;
}

/* Edit Trip Details Page*/
.edit-header {
    background-color: #0275d8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 699px;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    border: none;
}

#edit-image {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    margin-top: 4rem;

}

#edit-body {
    padding-top: 1rem;
}

input#id_startdate {
    width: 12rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

input#id_enddate {
    width: 12rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

input#id_reservation_link {
    width: 12rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#edit-btn {
    margin-top: 1rem;
}

/* Delete entire campground entry page */
.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .campsite-container {
      grid-template-columns: 1fr;
    }
    .pocketbook-container {
        grid-template-columns: 1fr;
    }
    #filler-img {
        width: 21rem; 
        height: 10rem;
    }
    .add-trip-container {
        height: 15rem;
    }
    #add-campground-body {
        background-color: black;
        color:white;
        padding-left: 0;
    }
   
    input#id_name {
        width: 9rem;
        margin-bottom: 1rem;
    }
    input#id_city {
       width: 9rem;
       margin-bottom: 1rem; 
   }
   input#id_state {
       width: 9rem;
       margin-bottom: 1rem; 
   }
   input#id_address{
       width: 9rem;
       margin-bottom: 1rem;
       margin-left: 1rem;
   }
   input#id_zipcode {
       width: 9rem;
       margin-bottom: 1rem;
   }
   input#id_directions {
       width: 9rem;
       margin-bottom: 1rem;
   }
   input#id_phone {
       width: 9rem;
       margin-bottom: 1rem;
   }
   #add-submit-btn {
    margin-top: 20px;
    margin-left: 2rem;
}
.edit-header {
    background-color: #0275d8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
}
input#id_startdate {
    width: 8rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

input#id_enddate {
    width: 8rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

input#id_reservation_link {
    width: 8rem;
    margin-bottom: 1rem;
    margin-left: 0;
}
div#edit.body.card-body {
    padding: 0;
}

label {
    margin: 0;
}

div#edit-image.col-md-7 {
    margin-right: 75px;
    padding: 0;
}

  }

  @media only screen and (max-width: 780px) {
    .campsite-container {
        grid-template-columns: 2fr;
      }
    .pocketbook-container {
        grid-template-columns: 1fr;
    }
    #filler-img {
        width: 15rem; 
        height: 10rem;
    }
  
  }




