{% extends 'base.html'%}
{% block content %}

{% for photo in photos %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'photos' photo.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

{% for photo in photos %}
    <img src="{{photo.url}}">
{% empty %}
    <div>No Photos</div>
{% endfor %}
{% endblock %}